<!DOCTYPE html>
<html>
	<head><title>Travel Agents</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>Meet The Travel Experts!</header>
		<h4 class="agencies">Agency Information:</h4>
		<div class="agency-container">
			<% result.forEach((agency) => { %>
				<div class="agency-info">
					<p><strong><%= agency.AgncyCity + ", " + agency.AgncyProv %></strong></p>
					<p><%= agency.AgncyAddress %></p>
					<p><%= agency.AgncyPostal %></p>
					<p class="phone">Phone: </p>
					<p><%= agency.AgncyPhone %></p>
				</div>
			<%  }); %>
		</div>
		<br>
		<h4 class="agents">Calgary Agents:</h4>
		<div class="agent-container">
			<% cgyResult.forEach((agent) => { %>
				<div class="agent-info">
					<p><%= agent.AgtFirstName +  " " + agent.AgtLastName %></p>
					<p><%= agent.AgtBusPhone %></p>
					<p><%= agent.AgtEmail %></p>
				</div>
			<%  }); %>
		</div>
		<br>
		<h4 class="agents">Okotoks Agents:</h4>
		<div class="agent-container">
			<% okoResult.forEach((agent) => { %>
				<div class="agent-info">
					<p><%= agent.AgtFirstName +  " " + agent.AgtLastName %></p>
					<p><%= agent.AgtBusPhone %></p>
					<p><%= agent.AgtEmail %></p>
				</div>
			<%  }); %>
		</div>
		<nav>
			<a href="index">Home <img src="arr1.gif" /></a>
			
			<a href="contact">Contact Us <img src="arr2.gif" /></a>
			
			<a href="travelpackages">Travel Packages <img src="arr3.gif" /></a>
			
			<a href="register">Customer Registration <img src="arr4.gif" /></a>
		</nav>
	</body>
</html>