<!DOCTYPE html>
<html>
	<head><title>Travel Agents</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>The Travel Experts</header>
		<h4>Agency Information:</h4>
		<table border="1">
			<% result.forEach((agency) => { %>
				<tr>
					<td><strong><%= agency.AgncyCity %></strong></td>
					<td><%= agency.AgncyAddress %></td>
					<td><%= agency.AgncyProv %></td>
					<td><%= agency.AgncyPostal %></td>
				</tr>
				<tr>
					<td>Phone: </td>
					<td><%= agency.AgncyPhone %></td>
				</tr>
			<%  }); %>
		</table>
		<br>
		<h4>Calgary Agents:</h4>
		<table border="1">
			<% cgyResult.forEach((agent) => { %>
				<tr>
					<td><%= agent.AgtFirstName %></td>
					<td><%= agent.AgtLastName %></td>
					<td><%= agent.AgtBusPhone %></td>
					<td><%= agent.AgtEmail %></td>
				</tr>
			<%  }); %>
		</table>
		<br>
		<h4>Okotoks Agents:</h4>
		<table border="1">
			<% okoResult.forEach((agent) => { %>
				<tr>
					<td><%= agent.AgtFirstName %></td>
					<td><%= agent.AgtLastName %></td>
					<td><%= agent.AgtBusPhone %></td>
					<td><%= agent.AgtEmail %></td>
				</tr>
			<%  }); %>
		</table>
		<nav>
			Navigation:
			<a href="index">Home <img src="arr1.gif" /></a>
			
			<a href="contact">Contact Us <img src="arr2.gif" /></a>
			
			<a href="travelpackages">Travel Packages <img src="arr3.gif" /></a>
			
			<a href="register">Customer Registration <img src="arr4.gif" /></a>
		</nav>
	</body>
</html>