<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <script>
    // validates form based on required fields
    function validate(myForm) {
    let fname = document.getElementById("firstname");
    let lname = document.getElementById("lastname");
    let postal = document.getElementById("postalcode");
    // regular expression to match postal code
    let regex = /^[A-Z]\d[A-Z] ?\d[A-Z]\d$/;
    // check for valid data in form fields before submitting
    if (fname.value == "" || lname.value == "") {
        alert("Please enter your first and last name");
        fname.focus();
        return false;
    }
    if (postal.value == "") {
        alert("Please enter your postal code");
        postal.focus();
        return false;
    } else if (!regex.test(postal.value)) {
        alert("Please enter a valid postal code");
        postal.focus();
        return false;
    }
    return confirm("Are you ready to submit?");
    }
    </script>
</head>
<body>
    <header>Customer Registration</header>
    <!-- Registration form with JS script attached for validation -->
    <form action="postregister" method="post" id="customerForm">
        <label for="firstname">First Name: </label>
        <input type="text" id="firstname" name="CustFirstName">
        <br>
        <label for="lastname">Last Name: </label>
        <input type="text" id="lastname" name="CustLastName">
        <br>
        <label for="address">Address: </label>
        <input type="text" id="address" name="CustAddress">
        <br>
        <label for="address">City: </label>
        <input type="text" id="city" name="CustCity">
        <br>
        <label for="address">Province: </label>
        <input type="text" id="province" name="CustProv">
        <br>
        <label for="postalcode">Postal Code: </label>
        <input type="text" id="postalcode" name="CustPostal">
        <br>
        <label for="address">Country: </label>
        <input type="text" id="country" name="CustCountry">
        <br>
        <label for="address">Home Phone: </label>
        <input type="tel" id="homephone" name="CustHomePhone">
        <br>
        <label for="address">Business Phone: </label>
        <input type="tel" id="businessphone" name="CustBusPhone">
        <br>
        <label for="address">Email: </label>
        <input type="email" id="address" name="CustEmail">
        <br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="agent">Agent Id: </label>
        <select name="AgentId">
            <option value="">Select Agent Id</option>
            <% agentsResult.forEach((agent)=>{%>
            <option value="<%=agent.AgentId%>"><%=agent.AgtFirstName%> <%=agent.AgtLastName%></option>
            <% }); %> </select><br />
        <button type="submit" onclick="return validate(this.form);">Submit</button>
        <button type="reset" onclick="return confirm('Do you want to reset the form?');">Reset</button>
    </form>
    <% packageResult.forEach((packages) => { %>  
    <table.register border="1">
        <th>Your Package</th><br />

				
            <tr>
                <td><%= packages.PkgName %></td><br />
                <td>Starts: <%= packages.PkgStartDate %></td><br />
                <td>Ends: <%= packages.PkgEndDate %></td><br />
                <td>Price: <%= packages.PkgBasePrice %></td><br />
                <%  }); %>
    </table.register>
    <nav>
        Navigation:
        <a href="index">Home <img src="arr1.gif" /></a>
        
        <a href="contact">Contact Us <img src="arr2.gif" /></a>
        
        <a href="travelpackages">Travel Packages <img src="arr3.gif" /></a>
        
        <a href="register">Customer Registration <img src="arr4.gif" /></a>
    </nav>
</body>
</html>