<!--Registration Page WM,TP-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <!-- Reference links for stylesheets-->
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <script>
    // validates form based on required fields - TP
    function validate(myForm) {
    let fname = document.getElementById("firstname");
    let lname = document.getElementById("lastname");
    let postal = document.getElementById("postalcode");
    // regular expression to match postal code - TP
    let regex = /^[A-Z]\d[A-Z] ?\d[A-Z]\d$/;
    // check for valid data in form fields before submitting - TP
    if (fname.value == "" || lname.value == "") {
        alert("Please enter your first and last name");
        fname.focus();
        return false;
    }
    if (postal.value == "") {
        alert("Please enter your postal code");
        postal.focus();
        return false;
    } else if (!regex.test(postal.value)) {
        alert("Please enter a valid postal code");
        postal.focus();
        return false;
    }
    return confirm("Are you ready to submit?");
    }
    </script>
</head>
<body>
    <header>Customer Registration</header>
    <!-- Registration form with JS script attached for validation -->
    <form action="postregister" method="post" id="customerForm">
        <!--EJS used to create a hidden form input containing package info to post to thanks page - WM-->
        <%packageResult.forEach((packages)=>{ %>
            <input type="text" name="PackageId" hidden="hidden" value="<%=packages.PackageId%>">
        <% }); %>
        <label for="firstname">First Name: </label>
        <input type="text" id="firstname" name="CustFirstName">
        <br>
        <label for="lastname">Last Name: </label>
        <input type="text" id="lastname" name="CustLastName">
        <br>
        <label for="address">Address: </label>
        <input type="text" id="address" name="CustAddress">
        <br>
        <label for="city">City: </label>
        <input type="text" id="city" name="CustCity">
        <br>
        <label for="province">Province: </label>
        <input type="text" id="province" name="CustProv">
        <br>
        <label for="postalcode">Postal Code: </label>
        <input type="text" id="postalcode" name="CustPostal">
        <br>
        <label for="country">Country: </label>
        <input type="text" id="country" name="CustCountry">
        <br>
        <label for="homephone">Home Phone: </label>
        <input type="tel" id="homephone" name="CustHomePhone">
        <br>
        <label for="businessphone">Business Phone: </label>
        <input type="tel" id="businessphone" name="CustBusPhone">
        <br>
        <label for="email">Email: </label>
        <input type="email" id="email" name="CustEmail">
        <br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="agent">Agent Id: </label>
        <select name="AgentId" id="agent">
            <option value="">Select Agent Id</option>
            <!--Populates a list of agents for registeree to choose from-->
            <% agentsResult.forEach((agent)=>{%>
            <option value="<%=agent.AgentId%>"><%=agent.AgtFirstName%> <%=agent.AgtLastName%></option>
            <% }); %> </select><br />
        <button type="submit" onclick="return validate(this.form);">Submit</button>
        <button type="reset" onclick="return confirm('Do you want to reset the form?');">Reset</button>
    </form>
    <!-- Generates a table to display the selected travel package information - TM - modified for this page by WM -->
    <% packageResult.forEach((packages) => {
        var month = ["Jan","Feb","Mar","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"];
        %>  
    <table class="register">
        <th>Your Package</th><br />		
            <tr>
                <td><%= packages.PkgName %></td><br />
                <td>Starts: <%= month[packages.PkgStartDate.getMonth()] + "-" + packages.PkgStartDate.getDate() + "-" + packages.PkgStartDate.getFullYear()%></td><br />
                <td>Ends: <%= month[packages.PkgEndDate.getMonth()] + "-" + packages.PkgEndDate.getDate() + "-" + packages.PkgEndDate.getFullYear() %></td><br />
                <td>Price: $<%= packages.PkgBasePrice %></td><br />
                <%  }); %>
    </table.register>
    <!--Navigation menu - WM,TP,TM-->
    <nav>
        <a href="index">Home <img src="arr1.gif" /></a>
        
        <a href="contact">Contact Us <img src="arr2.gif" /></a>
        
        <a href="travelpackages">Travel Packages <img src="arr3.gif" /></a>
        
        <a href="register">Customer Registration <img src="arr4.gif" /></a>
    </nav>
</body>
</html>