<!DOCTYPE html>
<html>
	<head>
	<title>Travel Packages</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
	</head>
	<body>
	<header>Travel Experts Inc</header>
		<h4>Travel Packages:</h4>
		<table border="1">
		<th>Package Name</th>
				<th>Package Start Date</th>
				<th>Package End Date</th>
				<th>Package Base Price</th>
				<th>Order Option</th>
			<% tpResult.forEach((packages) => { let currentDate = new Date().getTime(); %>
				<tr>
					<td><%= packages.PkgName %></td>
					<td <% if (currentDate > new Date(packages.PkgStartDate).getTime()) { %> class="expired" <% } %>><%= packages.PkgStartDate %></td>
					<td><%= packages.PkgEndDate %></td>
					<td><%= packages.PkgBasePrice %></td>
					<td><button onclick="window.location.href='/register?PackageId=<%=packages.PackageId%>'">Order Package</button></td>	
				</tr>
			<%  }); %>
		</table>
		<nav>
			<a href="index">Home <img src="arr1.gif" /></a>
			
			<a href="contact">Contact Us <img src="arr2.gif" /></a>
			
			<a href="travelpackages">Travel Packages <img src="arr3.gif" /></a>
			
			<a href="register">Customer Registration <img src="arr4.gif" /></a>
		</nav>
	</body>
</html>
	
<!-- 
Photos
Travel Packages Pics
media/tulips.png
media/windmill.png
media/dayofdead.png
media/mexico.png
media/oregon.png
media/norway.png

Misc Pics
media/palms.png
media/chairs.png
media/explore.png
media/world.png
-->
